{% extends 'base.html.twig' %}

{% block title %}News{% endblock  %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mt-4 text-center">
            <h1 class="text-secondary">News</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                {% for newsitem in news %}
                    <div class="col-md-12">
                        <div class="border m-2 p-2 rounded-lg">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="{{ asset(newsitem.image) }}" class="img-fluid rounded-lg" alt="{{ newsitem.title }}"/>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="text-secondary">{{ newsitem.title }}</h3>
                                    <p class="my-1">{{ newsitem.content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ include('sidebar.html') }}
    </div>

{% endblock %}