{% extends 'base.html.twig' %}

{% block title %}Travel Agency{% endblock  %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mt-4 text-center">
            <h1>Destinations</h1>
        </div>
    </div>
    <div class="row">
        {% for journey in journeys %}
            <div class="col-md-6">
                <div class="border m-2 p-2 rounded-lg">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="text-center">{{ journey.destination }}</h3>
                            <img src="{{ asset(journey.image) }}" class="img-fluid rounded-lg" alt="{{ journey.destination }}"/>
                            <p class="text-center"><strong>Price: € {{ journey.price }}</strong></p>
                        </div>
                        <div class="col-md-7">
                            <p class="my-5">{{ journey.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}