{% extends 'base.html.twig' %}

{% block title %}Travel Agency{% endblock  %}

{% block body %}
    <div class="row">
        <div class="col-md-12 mt-4 text-center">
            <h1 class="text-secondary">Destinations</h1>
            <a href="/add" class="btn btn-primary my-4">Add New Destination</a>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-warning mt-4">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        {% for journey in journeys %}
            <div class="col-md-12">
                <div class="border m-2 p-4 rounded-lg">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="text-secondary">{{ journey.destination }}</h3>
                            <img src="{{ asset(journey.image) }}" class="img-fluid rounded-lg" alt="{{ journey.destination }}"/>
                        </div>
                        <div class="col-md-7">
                            <p class="mt-5">{{ journey.description }}</p>
                            <p><strong>Price: € {{ journey.price }}</strong></p>
                            <p>
                                <a  href="/edit/{{journey.id}}" class= "btn btn-primary btn-sm mr-2">Edit</a>
                                <a href="/delete/{{journey.id}}"  class="btn btn-danger btn-sm mr-2">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}